body{
    background-color: #ddd;
}

.container1{
    background-image: linear-gradient(red,cyan,red);
    width: 200wh;
    height: 150wh;
    margin: 0 auto;
}

.container2{
    background-image: radial-gradient(red,cyan);
    width: 200wh;
    height: 150wh;
    margin: 0 auto;
}

.container3{
     background-image: conic-gradient(red,cyan);
    width: 200wh;
    height: 150wh;
    margin: 0 auto;
}

@media screen and (max-width:1000px){
    .container{
        background-color: blueviolet;
        color: blue;
    }
}

@media screen and (max-width:900px){
    .container{
        background-color: azure;
    }
}